@import '../colors.scss';

.movieList {
  padding: 18px;
  font-size: 0.9rem;

  &__header {
    position: relative;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .movies-wrapper {
    //background-color: #4c16c9;
    //padding: 40px;

  }

}
